
 

.idheader h1 {
    background-color: rgba(182, 179, 179, 0.989);
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-family: sans-serif;
}

footer{
    background: forestgreen;
}
.seccion {
    width: 800px;
    border: rgb(9, 9, 9);
    padding: 5px 35px;
    margin-bottom:  5px;
    background: dimgrey;
    float: left;
}


.MP li {

    list-style: none;
    border: 1px solid rgb(216, 73, 197);
    padding: 5px;
    margin: 0px 10px;
    font: 200 14px sans-serif;
    display: inline-block;
        
}

.MP{
text-align: right ;
}

h2 {font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 200;
}

body {
    text-align: center;
 }

.menulateral  li {
    list-style: none;
    float: right;
    width: 300px;
    border: indigo;
    background: khaki;
}

.pie {
    padding: 5px;
    clear: both;
}

 










 .by{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
 }

 .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    font-size: 25px;


}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500px;
}

.box input[type = "text"],.box input[type = "password"]{
   
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #3498db; 
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color: white;
   border-radius: 24px;
   transition: 0,25;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{

    width: 280px;
    border-color: #2ecc71<;

    }

    .box input[type = submit]{
         border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #2ecc71; 
   padding: 14px 40px;
   width: 200px;
   outline: none;
   color: white;
   border-radius: 24px;
   transition: 0,25;
   cursor: pointer;
    }